<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <button onclick="window.location.href='/customers'">Go back</button>
    <br>
    <br>
    <form action="#" th:action="@{@{'/customer/' + ${user.getId()} + '/createorder'}}"  method="post">
        <p><input type="submit" value="Create order" /></p>
    </form>
    <br>
    <a th:href="@{'/customer/' + ${user.getId()} + '/vieworder'}" >View orders</a>
    <br>
    <form action="#" th:action="@{@{'/customer/' + ${user.getId()}}}" th:object="${user}" method="post">
        <p>amount: <input type="text" th:field="*{balance}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
    <br>
    <label th:for="${user.getBalance()}" th:text="'Current balance ' + ${user.getBalance()} + ' €'"></label>
</body>
</html>