<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Staff edit pizza</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> Edit pizza: </p>
    <form action="#" th:action="@{@{'/pizzaedited/' + ${pizza.getId()}}}" th:object="${pizza}" method="post">
        <p>name: <input type="text" th:field="*{name}" /></p>
        <p>price: <input type="text" th:field="*{price}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>