<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> Add new user : </p>
    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
        <p>firstname: <input type="text" th:field="*{firstname}" /></p>
        <p>password: <input type="password" th:field="*{password}" /></p>
        <p>phone number: <input type="text" th:field="*{phone_number}" /></p>
        <p>email: <input type="text" th:field="*{email}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>