<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff page</title>
</head>
<body>
    <button onclick="window.location.href='/'">Go back</button>
    <br>
    <br>
    <button onclick="window.location.href='/users'">Edit users</button>
    <br>
    <button onclick="window.location.href='/ingredients'">Edit ingredients</button>
    <br>
    <button onclick="window.location.href='/pizzas'">Edit pizzas</button>
    <br>
    <button onclick="window.location.href='/messengers'">Edit messengers</button>
    <br>
    <button onclick="window.location.href='/typevehicles'">Edit vehicles types</button>
    <br>
    <button onclick="window.location.href='/vehicles'">Edit vehicles</button>
    
</body>
</html>