<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Staff - user</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<button onclick="window.location.href='/'">Go back</button>
<br>
<br>
<button onclick="window.location.href='/adduser'">Add a new user</button>
<body>
    <p> This is the list of all the users </p>
    <form action="#" th:action="@{/deleteusers}" th:object="${users}" method="post">
    <th:block th:each="user : ${users}">
        <div>
            <input type="checkbox" th:id="${user.getId()}" th:name="usersChecked" th:value="${user.getId()}">
            <label th:for="${user.getFirstname()}" th:text="${user.getFirstname()}"></label>
            <a th:href="@{'/useredit/' + ${user.getId()}}">edit</a>
        </div>
     </th:block>
     <p><input type="submit" value="Delete users" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>