<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Staff - vehicle</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<button onclick="window.location.href='/'">Go back</button>
<br>
<br>
<button onclick="window.location.href='/adduser'">Add a new vehicle</button>
<body>
    <p> This is the list of all the vehicles</p>
    <form action="#" th:action="@{/deletevehicles}" th:object="${vehicles}" method="post">
    <th:block th:each="vehicle: ${vehicles}">
        <div>
            <input type="checkbox" th:id="${vehicle.getId()}" th:name="vehiclesChecked" th:value="${vehicle.getId()}">
            <label th:for="${vehicle.getMatriculation()}" th:text="${vehicle.getMatriculation()}"></label>
            <a th:href="@{'/vehicleedit/' + ${vehicle.getId()}}">edit</a>
        </div>
     </th:block>
     <p><input type="submit" value="Delete vehicles" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>